@font-face {
  font-family: 'OpenSans Regular';
  src: url('assets/font/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('assets/font/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('assets/font/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLTCom Bd';
  src: url('assets/font/HelveticaNeueLTCom/HelveticaNeueLTCom-Bd.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLTCom Hv';
  src: url('assets/font/HelveticaNeueLTCom/HelveticaNeueLTCom-Hv.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLTCom Lt';
  src: url('assets/font/HelveticaNeueLTCom/HelveticaNeueLTCom-Lt.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLTCom Md';
  src: url('assets/font/HelveticaNeueLTCom/HelveticaNeueLTCom-Md.ttf');
}

$OS: "OpenSans Regular";
$OS-L: "OpenSans Light";
$OS-B: "OpenSans Bold";
$H-Bd: "HelveticaNeueLTCom Bd";
$H-Hv: "HelveticaNeueLTCom Hv";
$H-Lt: "HelveticaNeueLTCom Lt";
$H-Md: "HelveticaNeueLTCom Md";

$primary-color: rgb(55,179,73);
$primary-color-hover: rgb(35,159,53);
$link-color: rgb(174,174,174);
$white: rgb(255,255,255);

*{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  font-family: $OS;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  display: block;
}

.b{
  border: solid black 1px;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.row{
  width: 100%;
  display: table;
}

#wrapper{
  width: 100%;
}

// ******************************************************************
// **************************** MENU ********************************
// ******************************************************************

header{
  padding: 16px 26px;
  .logo{
    float: left;
  }

  ul{
    float: right;
    display: flex;
    align-items: center;
    padding: 0;

    li{
      padding: 0px 22px;

      &:last-child{
        padding-right: 0px;
      }

      a{
        font-size: 10pt;
        text-transform: uppercase;
        color: $link-color;
        transition: all 0.4s;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}

// ******************************************************************
// ************************* Hero Image *****************************
// ******************************************************************

#hero-img{
  position: relative;

  img{
    width: 100%;
  }

  .hero-title{
    position: absolute;
    top: 170px;
    right: 12%;
    color: $white;
    text-align: right;

    &:before{
      content: "";
      height: 80px;
      border: solid $primary-color 3px;
      position: absolute;
      top: -110px;
      right: 33.6%;
    }

    &:after{
      content: "";
      height: 210px;
      border: solid $primary-color 3px;
      position: absolute;
      top: 150px;
      right: 33.6%;
    }

    h1{
      font-size: 54pt;
      margin: 0;
      font-family: $H-Bd;
    }

    p{
      margin: 0;
    }
  }

  .separator{
    position: absolute;
    bottom: 0px;
    right: 20.7%;
    background-color: $primary-color;
    text-align: center;
    width: 80px;

    i{
      font-size: 20pt;
      color: $white;
      position: relative;
      top: -7px;
    }

    &:before{
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 40px;
      border-color: transparent transparent $primary-color transparent;
    }
  }
}

// ******************************************************************
// *********************** Questionnaire ****************************
// ******************************************************************

#questionnaire{
  position: relative;
  background-color: $white;
  z-index: 1;

  .col-5{
    width: 55%;
    background-size: 100%;
    float: left;
    padding: 220px 0px 150px 14%;

    .content-left{
      position: relative;

      &:before{
        content: "";
        position: absolute;
        top: -3px;
        left: 50px;
        width: 50px;
        border: solid $primary-color 3px;
      }

      h1{
        margin: 0;
        line-height: 1;
        font-family: $OS-B;
        font-size: 48pt;
      }
    }
  }

  .col-6{
    width: 45%;
    float: left;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      top: 0px;
      right: 46%;
      height: 30px;
      border: solid $primary-color 40px;
    }

    .content-right{
      padding-top: 130px;
      width: 95%;
      text-align: center;
      position: relative;

      img{
        width: 10%;
        display: inline-block;
      }

      h5{
        font-size: 10pt;
        text-transform: uppercase;
        margin: 10px 0 0 0;
      }

      h4{
        font-size: 22pt;
        text-transform: uppercase;
        margin: 10px 0 20px 0;
        font-family: $OS-B;
      }

      p{
        line-height: 1.3;

        b{
          font-family: $OS-B;
        }
      }

      .btn{
        background-color: $primary-color;
        border-radius: 50px;
        padding: 12px 55px;
        border: none;
        color: $white;
        font-size: 10pt;
        margin-top: 10px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.4s;

        &:hover{
          background-color: $primary-color-hover;
        }

        &:focus{
          outline: none;
        }
      }

    }
  }
}

// ******************************************************************
// *************************** About Us *****************************
// ******************************************************************

#about_us{
  position: relative;
  padding-bottom: 260px;

  &:before{
    content: "";
    position: absolute;
    top: -3px;
    left: 20%;
    height: 80px;
    border: solid $primary-color 3px;
  }

  .video{
    float: left;
    background-color: rgb(0,0,0);
    padding: 160px 260px;
    position: relative;
    top: 125px;
    left: 8%;

    &-play{
      background-color: $primary-color;
      padding: 20px 30px;
      font-size: 32pt;
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      transition: all 0.4s;

      &:hover{
        background-color: $primary-color-hover;
      }
    }
  }

  .wrap-content-about{
    float: left;
    background-size: 100%;
    background-color: $primary-color;
    padding: 100px 70px 100px 160px;
    transform: rotate(12deg);
    z-index: -1;
    position: absolute;
    right: 0px;

    .content-about{
      transform: rotate(-12deg);
      color: $white;

      h2{
        font-family: $H-Md;
        font-size: 54pt;
      }

      h1{
        font-family: $H-Hv;
        font-size: 56pt;
      }

      p{
        line-height: 1.4;
      }
    }
  }
}

// ******************************************************************
// ***************************** Squad ******************************
// ******************************************************************

#squad{
  position: relative;
  padding-top: 80px;
  padding-bottom: 38px;
  background-color: $white;

  &:before{
    content: "";
    position: absolute;
    top: -3px;
    left: 20%;
    height: 80px;
    border: solid $primary-color 3px;
  }

  .wrap-squad{
    background-color: $primary-color;

    .squad-left{
      width: 45%;
      float: left;
      text-align: right;
      color: $white;
      padding-top: 150px;
      padding-right: 40px;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 44.5%;
        height: 120px;
        border: solid $white 3px;
      }

      &:after{
        content: "";
        position: absolute;
        top: 30.5%;
        left: 55%;
        width: 50px;
        border: solid $white 3px;
      }

      h2{
        font-size: 56pt;
        font-family: $H-Hv;
      }

      h3{
        font-size: 52pt;
        font-family: $H-Md;
      }

      p{
        font-size: 13pt;
        line-height: 1.4;
      }

    }

    .squad-right{
      width: 55%;
      float: left;
      padding-right: 20px;

      img{
        position: relative;
        top: 40px;
      }
    }
  }

}

// ******************************************************************
// **************************** Benefits ****************************
// ******************************************************************

#benefits{
  position: relative;

  .benefits-title{
    width: 100%;
    text-align: right;
    padding: 110px 21% 50px 0;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      top: 25%;
      right: 30%;
      width: 50px;
      border: solid $primary-color 3px;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      right: 24.7%;
      height: 90px;
      border: solid $primary-color 3px;
    }

    h1{
      font-family: $H-Md;
      font-size: 54pt;
    }

    p{
      font-size: 14pt;
      margin: 0 0 1em 0;
      b{
        font-family: $OS-B;
      }
    }
  }

  .benefits-card{
    .col-4{
      width: 33.33%;
      float: left;

      img{
        width: 100%;
      }
    }
  }
}

// ******************************************************************
// ***************************** Events *****************************
// ******************************************************************

#events{
  position: relative;

  .col-7{
    width: 50%;
    float: left;

    &.text-center{
      text-align: center;
      padding: 215px 0 0 0;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 200px;
        border: solid $primary-color 3px;
      }

      &:after{
        content: "";
        position: absolute;
        top: 28%;
        right: 17%;
        width: 50px;
        border: solid $primary-color 3px;
      }
    }

    .event-title{
      text-align: right;
      position: relative;
      padding: 0 105px 50px 105px;

      h2{
        font-family: $H-Hv;
        font-size: 52pt;
      }

      h3{
        font-family: $H-Md;
        font-size: 50pt;
      }

      p{
        margin: 0;
        font-size: 14pt;
      }
    }

    .btn-subscribe{
      a{
        padding: 6px 14px 6px 24px;
        background-color: $primary-color;
        text-transform: uppercase;
        font-size: 11pt;
        color: $white;
        letter-spacing: 10px;
        transition: all 0.4s;

        &:hover{
          background-color: $primary-color-hover;
        }
      }
    }

    &.event-fair{

      .bazzar,
      .travel{
        display: flex;
        width: 100%;

        .fair-content{
          width: 50%;
          text-align: center;
          color: $white;
          background-color: $primary-color;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .bazzar-content{
            &:before{
              position: absolute;
              top: 40%;
              right: -9%;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 16px 0 16px 30px;
              border-color: transparent transparent transparent $primary-color;
            }
          }

          .travel-content{
            &:before{
              position: absolute;
              top: 40%;
              left: -9%;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 16px 30px 16px 0px;
              border-color: transparent $primary-color transparent transparent;
            }
          }

          h5{
            font-family: $H-Hv;
            font-size: 30pt;
          }

          p{
            font-size: 10pt;
            line-height: 1.4;
            margin: 0;
          }
        }

        .fair-img{
          width: 50%;

          img{
            width: 100%;
          }
        }
      }

    }
  }

}

// ******************************************************************
// **************************** Newsletter **************************
// ******************************************************************

#newsletter{
  padding: 30px 0px;

  form{
    margin: 0 auto;
    width: 600px;

    .col-4{
      width: 33.33%;
      float: left;
      padding: 2px;

      input,
      .btn-form{
        width: 100%;
        padding: 6px 12px;
        font-size: 10pt;
        text-align: center;
      }

      .btn-form{
        background-color: $primary-color;
        border: none;
        color: $white;
        padding: 8px 12px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover{
          background-color: $primary-color-hover;
        }
      }
    }

    h4{
      text-transform: uppercase;
      text-align: center;
      font-size: 16pt;
      color: $primary-color;
      margin-bottom: 15px;
    }
  }
}

// ******************************************************************
// **************************** Articles ****************************
// ******************************************************************


#article{
  position: relative;
  padding: 100px 0 60px 0;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 38%;
    height: 80px;
    border: solid $primary-color 3px;
  }

  .wrap-article-content{
    text-align: center;
    width: 768px;
    margin: 0 auto;

    .article-title{
      position: relative;
      margin-bottom: 40px;

      &:before{
        content: "";
        position: absolute;
        top: -18px;
        left: 42%;
        width: 45px;
        border: solid $primary-color 3px;
      }

      h1{
        font-size: 50pt;
        font-family: $H-Md;
      }

      p{
        margin: 0;
        font-size: 14pt;

        b{
          font-family: $OS-B;
        }
      }
    }

    // custom nav slider

    .owl-item{
      padding: 0 10px;
    }

    .owl-prev,
    .owl-next{
      position: absolute;
      top: 32.5%;

      i{
        font-size: 60pt;
        color: $primary-color;
      }
    }

    .owl-prev{
      left: -50px;
    }

    .owl-next{
      right: -50px;
    }

    .article-slide{
      transition: all 0.4s;
      cursor: pointer;
      text-align: left;
      z-index: 1;

      &:hover{
        background-color: rgba(55,179,73, 0.7);
      }

      img{
        width: 100%;
        z-index: -1;
        position: relative;
      }

      p{
        position: absolute;
        bottom: 0;
        font-family: $OS-B;
        color: $white;
        margin: 16px;
        font-size: 14pt;
      }
    }
    // }

  }
}

// ******************************************************************
// ***************************** Footer *****************************
// ******************************************************************

footer{
  background-color: rgb(55,55,55);
  padding: 30px 20px 10px 20px;
  color: $white;

  .col-3{
    width: 25%;
    float: left;
    padding: 0 15px;

    h6{
      font-size: 10pt;
      text-transform: uppercase;
      font-family: $OS-L;
      margin-bottom: 30px;
    }

    p{
      margin: 37px 0;
      font-size: 9pt;
      line-height: 1.5;
    }

    ul{
      padding: 0;

      li{
        padding: 4px 0;

        a{
          cursor: pointer;
          font-size: 9pt;
          color: $white;
          transition: all 0.4s;

          &:hover{
            color: $link-color;
          }

          &:hover i.fa-facebook-f{
            background-color: #3b5999;
            color: $white;
          }

          &:hover i.fa-twitter{
            background-color: #55acee;
            color: $white;
          }

          &:hover i.fa-youtube-play{
            background-color: #cd201f;
            color: $white;
          }

          &:hover i.fa-instagram{
            background-color: #8a3ab9;
            color: $white;
          }

          &:hover i.fa-skype{
            background-color: #00AFF0;
            color: $white;
          }
        }

        span{
          font-size: 8pt;
        }

        i{
          border: solid $white 1px;
          border-radius: 50%;
          padding: 6px;
          margin-right: 10px;
          transition: all 0.4s;

          &.fa-facebook-f{
            padding: 6px 8.5px;
          }
        }
      }

      &.socmed{
        a{
          &:hover{
            color: $white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer{
    .col-3{
      width: 100%;
      float: none;
    }
  }
}
